<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Pricing</a>
  </nav>
<div class="d-flex align-items-center">
  <a>
    <i class="bi bi-cart3 me-2"></i>
  </a>
  <a class="btn btn-outline-primary me-1 py-1" href="#">Login</a>
  <a class="btn btn-outline-primary me-1 py-1" href="#">Sign up</a>
</div>

</div>


