<div class="container">
<div class="row">
<section class="col-3">
  <h5 class="text-secondary ml-3" >Сортировать</h5>

  <select class="form-select" aria-label=".form-select-sm example">
    <option selected>Алфавитный порядок</option>
    <option>Цена: от низкой до высокой</option>
    <option>Цена: от высокой к низкой</option>
  </select>
<br/>
    <h5 class="text-secondary ml-3">Бренды</h5>
    <ul class="list-group ml-3">
        <li class="list-group-item" *ngFor="let brand of brands">{{brand.name}}</li>
        <br/>
        <h5 class="text-secondary ml-3">Товары</h5>
        <ul class="list-group ml-3">
            <li class="list-group-item" *ngFor="let type of types">{{type.name}}</li>
        </ul>
      </ul>
</section>
<section class="col-9">
    <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
            <span>Показаны <strong>10</strong> из<strong> 16</strong> результатов</span>
           </header>
           <div class="d-flex align-items-center">
            <input class="form-control mr-sm-2 me-1" style="width: 300px;" placeholder="Поиск" type="text">
            <button class="btn btn-outline-primary me-1">Поиск</button>
            <button class="btn btn-outline-success me-1">Сброс</button>
           </div>
    </div>

    <div class="row">
        <div class="col-4" *ngFor="let item of products">
         <app-product-item [product] = "item"></app-product-item>
        </div>
      </div>


</section>
</div>
</div>
